<%= turbo_frame_tag('new-genre') do %>
  <li>
    <div class="flexlist">
      <%= link_to(
        t('Genres.new_form_entry.new_link'),
        new_genre_path,
        class: 'alternate',
        data: { turbo_frame: 'new-genre' }
      ) %>
    </div>
  </li>
<% end %>
