:root {
  box-sizing: border-box;
  font-size: calc(0.2em + 1vw);
  /* use rems for font sizes, pixels for border, and ems for most other measures */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.15;
  margin: 0;
  padding: 0;
  background-color: var(--color-primary-light);
  font-family: var(--paragraph);
  color: var(--color-black);
}

ul {
  list-style: none;
}

.flexlist {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1em;
}
