// base styling

:root {
  box-sizing: border-box;
  font-size: calc(0.2em + 1vw);
  /* use rems for font sizes, pixels for border, and ems for most other measures */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.15;
  margin: 0;
  padding: 0;
  @extend .bg-primary-light;
  @extend .color-black;
  font-family: var(--paragraph);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;

  // &:link {
  // }
  // &:visited {
  // }
  // &:hover {
  // }
  // &:active {
  // }
}

ul {
  list-style: none;
}
