// utilities.scss
// various utili classes

@use "sass:math";

$width_map: (
  "100": 100%,
  "75": 75%,
  "66": 66.66666%,
  "50": 50%,
  "33": 33.33333%,
  "25": 25%,
);

@each $key, $value in $width_map {
  .width-#{$key} {
    width: $value;
  }

  .min-width-#{$key} {
    min-width: $value;
  }

  .max-width-#{$key} {
    max-width: $value;
  }
}

$margin_map: (
  "1": $base-margin,
  "75": $base-margin * 0.75,
  "66": $base-margin * 0.6666666,
  "50": $base-margin * 0.5,
  "33": $base-margin * 0.3333333,
  "25": $base-margin * 0.25,
);

@each $key, $value in $margin_map {
  .margin-#{$key} {
    margin: $value;
  }

  .margin-top-#{$key} {
    margin-top: $value;
  }

  .margin-bottom-#{$key} {
    margin-bottom: $value;
  }

  .margin-left-#{$key} {
    margin-left: $value;
  }

  .margin-right-#{$key} {
    margin-right: $value;
  }
}

$padding_map: (
  "1": $base-padding,
  "75": $base-padding * 0.75,
  "66": $base-padding * 0.6666666,
  "50": $base-padding * 0.5,
  "33": $base-padding * 0.3333333,
  "25": $base-padding * 0.25,
);

@each $key, $value in $padding_map {
  .padding-#{$key} {
    padding: $value;
  }

  .padding-top-#{$key} {
    padding-top: $value;
  }

  .padding-bottom-#{$key} {
    padding-bottom: $value;
  }

  .padding-left-#{$key} {
    padding-left: $value;
  }

  .padding-right-#{$key} {
    padding-right: $value;
  }
}

.border-radius-1 {
  border-radius: $base-border-radius;
}

.hidden {
  display: none !important;
}

svg.smallicon {
  width: 1.1em;
}

svg.bigicon {
  width: 1.2em;
}

svg.placeholder-large {
  width: 15em;
  @extend .color-primary-dark;
}

svg.placeholder-medium {
  width: 10em;
  @extend .color-primary-dark;
}

svg.placeholder-small {
  width: 5em;
  @extend .color-primary-dark;
}

svg.placeholder-default {
  width: 2em;
  @extend .color-primary-dark;
}

.nobutton {
  border: none;
  background: transparent;
  cursor: pointer;
}

.flexlist {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: $base-margin;
}

.flex {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
