// utilities.scss
// various utili classes

.hidden {
  display: none !important;
}

svg.smallicon {
  width: 1.1em;
}

svg.bigicon {
  width: 1.2em;
}

svg.placeholder {
  width: 15em;
  @extend .color-primary-dark;
}
