<%= turbo_frame_tag('new-shelf') do %>
  <li>
    <div class="flexlist">
      <%= link_to(
        t('Shelves.new_form_entry.add_label'),
        new_shelf_path,
        class: 'alternate',
        data: { turbo_frame: 'new-shelf' }
      ) %>
    </div>
  </li>
<% end %>
