<nav class="tabs">
  <ul>
    <% shelf_menu(@current_user).each do |item| %>
      <li class="placeholder-tab">&nbsp;</li>
      <li class="content-tab <%= item[:active] ? 'active' : '' %>">
        <%= link_to item[:name], item[:path] %>
      </li>
    <% end %>
    <li class="placeholder-tab">&nbsp;</li>
  </ul>
</nav>
