<turbo-frame id="quicksearch_results"
  class="empty:hidden peer-invalid:hidden">
  <div class="quicksearch">
    <ul id="quicksearch__list">
      <% @results&.each do |result| %>
        <li class="quicksearch__result">
          <% if result.class.name == 'Book' %>
            <%= link_to result.title, book_path(result), data: { turbo_frame: '_top' } %>
          <% elsif result.class.name == 'Author' %>
            <%= link_to result.display_name, author_path(result), data: { turbo_frame: '_top' } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</turbo-frame>
