<% if print_link? %>
  <%= link_to @locale, menu_entry(@locale), data: {
    controller: 'switch-locale',
    action: 'click->switch-locale#updatelocale',
    'switch-locale-path-value': update_locale_profile_path(@profile, userlocale: @locale)
  } %>
  <%#= link_to @locale,
    update_locale_profile_path(@profile, userlocale: @locale),
    data: { 'turbo-method': :put } %>
<% else %>
  <span><%= @locale %></span>
<% end %>
