<% if print_link? %>
  <%= link_to @locale, menu_entry(@locale), data: {
    controller: 'switch-locale',
    action: 'click->switch-locale#updatelocale',
    'switch-locale-path-value': update_locale_profile_path(@profile, userlocale: @locale)
  } %>
<% else %>
  <span><%= @locale %></span>
<% end %>
