// Styles for all forms
.big-form {
  display: flex;
  margin: $base-margin 0;

  & & {
    margin: 0;
  }

  .form-col + .form-col {
    margin-left: $margin-2;
  }

  .form-col {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .col-wide {
    flex: 3;
  }

  .input {
    margin: $margin-2 0;

    input {
      padding: $padding-2 $padding-2;
      @extend .border-color-primary;
      @extend .color-black;
      @extend .bg-white;
      border-radius: $base-border-radius;
      width: 100%;

      &::placeholder {
        @extend .color-grey-white;
      }

      &:focus,
      &:active,
      &:focus-visible {
        outline: none;
        @extend .border-color-primary-dark;
      }
    }
  }

  div.enum_radio_buttons {
    display: flex;
    flex-direction: column;

    span.radio {
      position: relative;
      cursor: pointer;
      display: inline-block;

      .hidden-button {
        display: none;
      }

      label {
        cursor: pointer;
        display: block;
        margin: 0 0 0.5em 1.5em;

        .fake-button {
          height: 1em;
          width: 1em;
          @extend .border-color-primary;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          left: 0;
          top: 0;

          &::after {
            content: "";
            display: block;
            height: 0.7em;
            width: 0.7em;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
          }
        }
      }

      .hidden-button:checked ~ label .fake-button::after {
        opacity: 1;
      }
    }
  }

  div.checkbox-container {
    display: flex;
    flex-direction: column;

    span.check {
      position: relative;
      cursor: pointer;
      display: inline-block;

      .hidden-button {
        display: none;
      }

      label {
        cursor: pointer;
        display: block;
        margin: 0 0 0.5em 1.5em;

        .fake-button {
          height: 1em;
          width: 1em;
          @extend .border-color-primary;
          border-radius: $base-border-radius;
          display: inline-block;
          position: absolute;
          left: 0;
          top: 0;

          &::after {
            content: "✓";
            display: block;
            height: 0.7em;
            width: 0.7em;
            border-radius: $base-border-radius;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -70%);
            color: $color-primary-dark;
            opacity: 0;
          }
        }
      }

      .hidden-button:checked ~ label .fake-button::after {
        opacity: 1;
      }
    }
  }

  select {
    @extend .bg-white;
    @extend .color-black;
    @extend .border-color-primary;
    border-radius: $base-border-radius;
    font-family: var(--paragraph);
    padding: 0.1em;
    cursor: pointer;

    &:focus,
    &:active,
    &:focus-visible {
      outline: none;
    }

    &.larger {
      padding: 0.1em 0.4em;
    }
  }
}

.field_with_errors {
  input {
    @extend .border-color-error;
    @extend .color-error;

    &::placeholder {
      @extend .color-error;
    }
  }
}

span.error {
  @extend .color-error;
  @extend .small;
  display: block;
  margin-top: $margin-4;
}

.rich-text-input {
  margin-top: $base-margin;

  h4 {
    margin-bottom: $margin-4;
  }

  button {
    @extend .border-color-primary-dark;
    @extend .color-primary-dark;
  }

  trix-editor {
    @extend .bg-white;
    @extend .border-color-primary-dark;
    border-radius: $base-border-radius;
  }
}

input[type="submit"].btn {
  @extend .bg-accent-dark;
  @extend .color-white;
  @extend .border-color-black;
  border-radius: $base-border-radius;
  font-family: var(--paragraph);
  padding: $padding-2 $padding-2;
  cursor: pointer;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;

  &:hover {
    @extend .bg-primary-dark;
    @extend .color-primary-light;
    border-radius: $base-border-radius;
  }
}

.form-cancel-button {
  @extend .bg-accent-light;
  @extend .color-black;
  @extend .border-color-black;
  border-radius: $base-border-radius;
  padding: $padding-4 $padding-2;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;

  &:hover {
    @extend .bg-primary-light;
    @extend .color-primary-dark;
    border-radius: $base-border-radius;
  }
}

// Style for turbo frame inline forms
.inline-form {
  margin-top: $base-margin;
  display: flex;

  input {
    border: none;
    @extend .color-black;
    padding: $padding-4 $padding-2;
    width: 100%;

    &::placeholder {
      @extend .color-grey-white;
    }

    &:focus,
    &:active,
    &:focus-visible {
      outline: none;
    }
  }

  input[type="submit"].btn {
    @extend .small;
    @extend .width-25;
    @extend .bg-primary-dark;
    @extend .color-white;
    @extend .border-color-black;
    @extend .margin-left-25;
    border-radius: $base-border-radius;
    font-family: var(--paragraph);
    padding: $padding-4 $padding-4;
    cursor: pointer;

    &:hover {
      @extend .bg-primary-light;
      @extend .color-primary-dark;
      border-radius: $base-border-radius;
      transition: background-color 0.2s ease-in, color 0.2s ease-in;
    }
  }

  select {
    @extend .bg-primary-light;
    @extend .color-primary-dark;
    @extend .border-color-black;
    border-radius: $base-border-radius;
    font-family: var(--paragraph);
    padding: 0.1em;
    cursor: pointer;

    &:focus,
    &:active,
    &:focus-visible {
      outline: none;
    }
  }
}

.title-form {
  margin-top: 1em;
  display: flex;

  input[type="text"] {
    @extend .heading2;
    border: none;
    border-bottom: 1px solid $color-black;
    background-color: $color-grey-white;
    @extend .color-black;
    width: 100%;

    &::placeholder {
      @extend .color-grey-white;
    }

    &:focus,
    &:active,
    &:focus-visible {
      outline: none;
    }
  }

  .title-button {
    @extend .small;
    @extend .bg-primary-dark;
    @extend .color-white;
    @extend .border-color-black;
    @extend .margin-left-50;
    width: 5em;
    border-radius: $base-border-radius;
    font-family: var(--paragraph);
    padding: $padding-4 $padding-4;
    cursor: pointer;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;

    &:hover {
      @extend .bg-primary-light;
      @extend .color-primary-dark;
      border-radius: $base-border-radius;
    }
  }
}
