.title {
  background-color: var(--color-primary);
  padding: 1em 0.5em 0em;
}

.title-container {
  display: flex;
  align-items: flex-start;
}

.burgermenu {
  font-family: var(--paragraph);
  font-size: 3rem;
}
.burgermenu a {
  color: var(--color-black);
  text-decoration: none;
}

.maintitle {
  flex: 1;
  margin-left: 1em;
}

.quickicons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  fonts-size: 1rem;
}

.quickicons-filler {
  flex: 1;
}

.quickicons > a {
  text-decoration: none;
  color: var(--color-black);
  display: block;
  padding: 0.4em;
}

.quickicons > a:hover {
  background-color: var(--color-accent-dark);
  color: var(--color-accent-light);
}
