@use "sass:math";

.menu {
  flex: 1;
  background-color: var(--color-accent-light);
  padding: math.div($base-padding, 2) $base-padding math.div($base-padding, 2)
    $base-padding * 2;
  font-family: var(--menu-text);

  &__main {
    list-style-type: none;
    margin-top: $base-margin * 2;

    & > li {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      @extend .border-color-accent-dark;

      & > a {
        @extend .color-black;
        display: block;
        padding: math.div($base-padding, 2);

        &:hover {
          @extend .bg-accent-dark;
          @extend .color-accent-light;
        }
      }
    }

    & > li + li {
      margin-top: math.div($base-margin, 4);
    }
  }
}
