@use "sass:math";

.pagination {
  display: flex;
  margin-top: $base-margin;
  font-size: 0.8em;

  .page {
    border-width: 1px;
    border-style: solid;
    @extend .border-color-primary-dark;
    @extend .bg-secondary-light;
    min-width: 3.5em;
    text-align: center;

    &:first-child {
      border-radius: $base-border-radius 0 0 $base-border-radius;
    }

    &:last-child {
      border-radius: 0 $base-border-radius $base-border-radius 0;
    }

    & > a {
      @extend .color-black;
      padding: math.div($base-padding, 2);
      display: block;

      &:hover {
        @extend .color-secondary-light;
        @extend .bg-primary-dark;
      }
    }
  }

  & > .page + .page {
    border-left: none;
  }

  .active {
    display: block;
    padding: math.div($base-padding, 2);
    background-color: var(--color-primary);
    color: var(--color-secondary-light);
  }

  .gap {
    display: block;
    padding: math.div($base-padding, 2);
  }

  .disabled {
    display: block;
    padding: math.div($base-padding, 2);
    @extend .color-grey;
  }
}
