@use "sass:math";

.search {
  @extend .bg-accent;
  padding: $padding-2 $base-padding $padding-2 $base-padding * 2;

  &__form {
    display: flex;
    align-items: center;
    @extend .bg-white;
    @extend .color-grey-white;
    border-radius: $base-border-radius;
    @extend .border-color-white;
    justify-content: space-between;

    input {
      background-color: inherit;
      color: inherit;
      border: none;
      outline: none;
      font-family: var(--paragraph);
      font-size: 0.9rem;
      padding: $padding-4 $padding-2;

      &:active,
      &:focus-visible,
      &:focus {
        color: $color-black;
      }
    }

    button {
      border: none;
      outline: none;
      color: $color-black;
      background-color: inherit;
      padding: 0.25em 0.5em;
      cursor: pointer;

      &:hover {
        color: $color-accent-dark;
      }
    }
  }
}
