.search {
  background-color: var(--color-accent);
  padding: 0.5em 1em 0.5em 2em;
}

.searchform {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-grey-white);
  border-radius: 5px;
  border: 1px solid var(--color-white);
}

.searchform input,
.searchform input:active,
.searchform input:focus-visible,
.searchform input:focus {
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
  font-family: var(--paragraph);
  font-size: 0.9rem;
  padding: 0.25em 0.5em;
}

.searchform button {
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
  padding: 0.25em 0.5em;
}
