@use "sass:math";

.search {
  @extend .bg-accent;
  padding: $padding-2 $base-padding $padding-2 $base-padding * 2;

  &__form {
    display: flex;
    align-items: center;
    @extend .bg-white;
    @extend .color-grey-white;
    border-radius: $base-border-radius;
    @extend .border-color-white;

    input,
    input:active,
    input:focus-visible,
    input:focus {
      background-color: inherit;
      color: inherit;
      border: none;
      outline: none;
      font-family: var(--paragraph);
      font-size: 0.9rem;
      padding: $padding-4 $padding-2;
    }

    button {
      border: none;
      outline: none;
      color: inherit;
      background-color: inherit;
      padding: 0.25em 0.5em;
    }
  }
}
