@use "sass:math";

.tabs {
  margin-bottom: $base-margin * 2;
  font-family: var(--menu-text);

  & > ul {
    display: flex;
    list-style-type: none;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  li {
    flex: 1;
  }

  .placeholder-tab {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    @extend .border-color-primary-dark;
  }

  a {
    @extend .color-primary;
    display: block;
    padding: math.div($base-padding, 2) $base-padding;
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--color-primary-dark);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: $base-border-radius $base-border-radius 0 0;
    text-align: center;

    &:hover {
      border-top: 1px solid var(--color-primary);
      border-right: 1px solid var(--color-primary);
      border-left: 1px solid var(--color-primary);
    }
  }

  .active {
    @extend .color-primary-dark;
    border-top: 1px solid var(--color-primary-dark);
    border-right: 1px solid var(--color-primary-dark);
    border-left: 1px solid var(--color-primary-dark);
    border-bottom: 1px solid transparent;
    border-radius: $base-border-radius $base-border-radius 0 0;

    &:hover {
      border-top: 1px solid var(--color-primary-dark);
      border-right: 1px solid var(--color-primary-dark);
      border-left: 1px solid var(--color-primary-dark);
    }
  }
}
