<%= turbo_frame_tag dom_id(notification), class: 'flex' do %>
  <div>
    <%= link_to notification.to_notification.message,
      notification.to_notification.url,
      class: 'color-accent-dark color-hover-accent' %>
    <span class="color-grey small">
      <%= time_ago_in_words(notification.created_at) %>
    </span>
  </div>
  <div class="icons">
    <%= render 'shared/delete_icon',
      delete_path: notification_path(notification),
      item_name: "#{notification.to_notification.message[0..20]...}",
      url: notification_path(notification),
      redirect_url: notifications_path,
      answer: 'turbo' %>
  </div>
<% end %>
