<%= turbo_frame_tag(author) do %>
  <li>
    <div class="flexlist">
      <%= link_to(
        "#{author.display_name}",
        edit_author_path(author)
       ) %>
      <%= render 'shared/crud_icons',
        edit_path: edit_author_path(author),
        delete_path: author_path(author),
        item_name: "#{author.display_name}",
        url: author_path(author),
        edit_answer: 'html',
        delete_answer: 'turbo',
        redirect_url: '/authors?show=unused'
      %>
    </div>
  </li>
<% end %>
