<h2 class="heading3">Settings</h3>
<%= render 'settings/settings_menu' %>
  <div class="submenucontent">
    <h3 class="heading4">All Users</h3>
    <ul class="simple-list width-66" id="users">
      <%= turbo_frame_tag 'format-list' do %>
        <%= render @users %>
      <% end %>
    </ul>
