<div class="icons">
  <%= render 'shared/edit_icon', edit_path: edit_path, answer: answer %>
  <%= render 'shared/delete_icon',
    delete_path: delete_path,
    item_name: item_name,
    url: url,
    redirect_url: redirect_url,
    answer: answer %>
</div>
