<footer class="footer">
  <p>
    <%= books_count %> Books
    from 123 Publishers
    by 237 Authors,
    across <%= genres_count %> Genres
    in <%= shelves_count %> Shelves
    for <%= users_count %> Owners.
  </p>
</footer>
