<% if form.object.errors.any? %>
    <div data-controller="flash" class="message-flash message-flash-error">
        <%= form.object.errors.full_messages.join('\n') %>
        <%= inline_svg_tag 'close.svg', data: { action: 'click->flash#dismiss' } %>
    </div>
<% end %>
