<% if form.object.errors.any? %>
    <% form.object.errors.full_messages.each do |message| %>
    <div data-controller="notification">
        <input data-notification-target="type" value="error" type="hidden">
        <input data-notification-target="message" value="<%= message %>" type="hidden">
    </div>
    <% end %>
<% end %>
