<div data-modal-target="container" class="hidden modal">
  <div class="modal__box">
    <div class="modal__content">
      <div class="modal-body">
        <div id="modal-title"></div>
        <div id="modal-body">
          <p>Form goes here</p>
          <button data-action="click->modal#close" class="button-color-secondary">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
