<nav id="pager" class="pagy-nav pagination">
  <% if pagy.next %>
    <span class="page">
        <%= link_to(
          "#{t 'Helper.loadmore'}",
          local_assigns[:model_path],
          data: {
            turbo_frame: 'page'
          }
        ) %>
    </span>
  <% end %>
</nav>
