<aside class="sidebar" data-burgermenu-target="sidebar">
  <section class="search">
    <%= render 'search/quicksearchmenu' %>
    <%= render 'search/quicksearchresults' %>
  </section>
  <section class="menu">
    <ul class="menu__main">
      <% menu_items.each do |item| %>
        <li>
          <%= link_to item[:name], item[:path], class: item[:active] ? 'active' : '' %>
        </li>
      <% end %>
    </ul>
  </section>
</aside>
