<%= turbo_frame_tag(publisher) do %>
  <li>
    <div class="flexlist">
      <%= link_to(
        "#{publisher.name} - #{publisher.books_count} #{Book.model_name.human(count: 10)}",
        edit_publisher_path(publisher)
       ) %>
      <%= render 'shared/crud_icons',
        edit_path: edit_publisher_path(publisher),
        delete_path: publisher_path(publisher),
        item_name: "#{publisher.name}, (#{publisher.books_count} #{t('Publishers.publishersettings.books_affected')})",
        url: publisher_path(publisher),
        edit_answer: 'turbo',
        delete_answer: 'turbo',
        redirect_url: '/publishers'
      %>
    </div>
  </li>
<% end %>
