<div class="submenugrid">
  <div class="submenu">
    <ul>
      <li><a href="#">Shelves</a></li>
      <li>
        <%= link_to(
          'Book Formats',
          book_formats_path,
          params[:controller] == 'book_formats' ? { class: 'active' } : {}
        ) %>
      </li>
      <li><a href="#">Blah</a></li>
      <li><a href="#">Blubb</a></li>
    </ul>
  </div>
