<%= page_title('Settings','', 'heading3') %>

<%= render 'settings_menu' %>
  <div class="submenucontent">
    <h3 class="heading4">Bulk Actions</h3>
    <ul class="simple-list width-50">
      <li><a href="#">Remove Authors without Books</a></li>
      <li><a href="#">Remove Publishers without Books</a></li>
      <li><a href="#">Remove Book Series without Books</a></li>
      <li>
        <%= link_to 'Remove Genres without Books', unused_genres_path %>
      </li>
      <li>
        <%= link_to 'Remove Tags not used', unused_tags_path %>
      </li>
    </ul>
  </div>
</div>
