<%= turbo_frame_tag book, class: "itemlist__border" do %>
  <li class="itemlist__item">
    <div class="itemlist__cover">
      <%= render BookCoverComponent.new(book: book) %>
    </div>
    <div class="itemlist__title">
      <%= link_to(
        book.title,
        book_path(book),
        data: { turbo_frame: "_top" }
        )%>
    </div>
  </li>
<% end %>
