<%= turbo_frame_tag book, class: "itemlist__border" do %>
  <li class="itemlist__item">
    <div class="itemlist__cover">
      <%= cover_image(book, size: "default") %>
    </div>
    <div class="itemlist__title">
      <%= link_to book.title, book_path(book) %>
      (by Author Author )
    </div>
    <div class="itemlist__icons">
      <% if logged_in? %>
        <%= render 'shared/crud_icons',
          edit_path: edit_book_path(book),
          delete_path: book_path(book),
          item_name: book.title,
          url: "/books/#{book.id}",
          redirect_url: "/books",
          answer: "html",
          use_turbo: true
        %>
      <% end %>
    </div>
  </li>
<% end %>
