<%= turbo_frame_tag('new-tag') do %>
  <li>
    <div class="flexlist">
      <%= link_to(
        "#{t('Tags.new_form_entry.add_label')} #{Tag.model_name.human}",
        new_tag_path,
        class: 'alternate',
        data: { turbo_frame: 'new-tag' }
      ) %>
    </div>
  </li>
<% end %>
