<%= turbo_frame_tag(tag) do %>
  <li>
    <div class="flexlist">
      <%= link_to(
        "#{tag.name} - #{tag.books.size} books",
        edit_tag_path(tag)
       ) %>
      <%= tag.user.name if params[:show] == 'admin' %>
      <% params[:show] == 'settings' ? redir_url = '/tags?show=settings' : redir_url = '/tags?show=admin' %>
      <%= render 'shared/crud_icons',
        edit_path: edit_tag_path(tag),
        delete_path: tag_path(tag),
        item_name: "#{tag.name}, (#{tag.books.size} books affected)",
        url: tag_path(tag),
        edit_answer: 'turbo',
        delete_answer: 'turbo',
        redirect_url: redir_url
      %>
    </div>
  </li>
<% end %>
