<%= page_title('Settings', '', 'heading3') %>

<%= render 'settings/settings_menu' %>
  <div class="submenucontent">
    <h3 class="heading4">All Tags</h3>
    <ul class="simple-list width-50" id="tags">
      <%= turbo_frame_tag 'format-list' do %>
        <%= render @tags %>
      <% end %>
    </ul>
  </div>
</div>
