<%= page_title("All Tags for user #{@user.name}",'', 'heading2') %>

<%= turbo_frame_tag 'page' %>
<div class="flexlist" id="tags">
  <% @tags.each do |tag| %>
    <%= render 'genres/genrecard', genre: tag  %>
  <% end %>
</div>

<%= render 'shared/pager', pagy: @pagy, model_path: tags_path(page: @pagy.next, show: params[:show]) %>
