<%= turbo_frame_tag(book_format) do %>
  <li>
    <div class="flexlist">
      <%= link_to(
        "#{book_format.name}#{print_fallback(book_format)}",
        edit_book_format_path(book_format)
       ) %>
      <%= render 'shared/crud_icons',
        edit_path: edit_book_format_path(book_format),
        delete_path: book_format_path(book_format),
        item_name: book_format.name,
        url: book_format_path(book_format),
        answer: 'turbo',
        use_turbo: true,
        redirect_url: '/book_formats'
      %>
    </div>
  </li>
<% end %>
