<%= turbo_frame_tag('new-format') do %>
  <li>
    <div class="flexlist">
      <%= link_to(
        "#{t('BookFormats.new_form.link_title')} #{BookFormat.model_name.human}",
        new_book_format_path,
        class: 'alternate',
        data: { turbo_frame: 'new-format' }
      ) %>
    </div>
  </li>
<% end %>
