<%= turbo_frame_tag 'settings-content' do %>
  <h3 class="heading4">Available book formats</h3>
  <ul class="simple-list width-33" id="book-formats">
  <%= render 'new_form_entry' %>
    <%= render @book_formats %>
  </ul>
<% end %>

