<h4 class="heading4">
  <%= t('Stats.books.by_rating') %>
</h4>
<%= pie_chart @books.group(:rating).size, id: 'statChart' %>

  <ul class="itemlist" id="books">
    <% @books.limit(10).each do |book| %>
      <%= render('books/booklist', book: book) %>
    <% end %>
  </ul>
