<div
  data-controller="chart-select"
  data-chart-select-id-value="statChart"
  data-chart-select-criteria-value="genre"
  data-chart-select-url-value="<%= stats_books_path %>">
  <h4 class="heading4">
    <%= t('Stats.books.by_genre') %>
  </h4>
  <%= column_chart @genres.order(books_count: :desc).limit(15).pluck(:name, :books_count), defer: false, id: 'statChart' %>

  <%= render 'books/stats', books: @books.limit(10) %>
</div>
