.booklist {
  margin-top: $base-margin;

  &__border {
    display: block;
    @extend .border-color-grey;
    border-top-width: 0;

    &:first-child {
      border-top-width: 1px;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;

    &:hover {
      @extend .bg-secondary-light;
    }
  }

  &__cover {
    max-width: 2em;
    flex: 0 0 2em;
    display: flex;

    img {
      flex: 1;
      overflow: hidden;
      display: block;
      object-fit: cover;
    }
  }

  &__title {
    flex: 1;
    margin-left: 1em;
    padding: $padding-2 $padding-4 $padding-2 0;

    a {
      @extend .color-primary-dark;

      &:hover {
        @extend .color-primary;
      }
    }
  }

  &__icons {
    flex: 0 0 2em;
    padding: $padding-2 $padding-4;
  }
}
