.genre-cloud {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  align-items: center;
}

.genre-cloud-item {
  display: block;
  @extend .margin-left-25;
  @extend .margin-right-25;

  a {
    display: block;
    padding: $padding-4;
    color: $color-primary-dark;
    border-radius: $base-border-radius;

    &:hover {
      color: $color-primary-light;
      background-color: $color-primary-dark;
    }
  }
}

@for $i from 1 through 10 {
  .cloud-size-#{$i} {
    font-size: 0.5em + $i * 0.3em;
  }
}
