@use "sass:math";

.genre-list {
  display: flex;
  flex-wrap: wrap;
  margin: math.div($base-margin, 2) 0;

  & .genre {
    @extend .bg-secondary-dark;
    margin-bottom: math.div($base-margin, 4);
    border-radius: $base-border-radius;
  }

  & .genre + .genre {
    margin-left: math.div($base-margin, 4);
  }

  & .genre a {
    @extend .color-white;
    display: block;
    padding: 0.2em 0.3em;
  }
}
