// Styles for the header
.title {
  @extend .bg-primary;
  padding: $base-padding $padding-2 0;

  &__container {
    display: flex;
    align-items: flex-start;
  }
}

.burgermenu {
  font-family: var(--paragraph);
  font-size: 3rem;

  a {
    @extend .color-black;
    text-decoration: none;
  }
}

.maintitle {
  flex: 1;
  margin-left: $base-margin;
}

.quickicons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;

  &__filler {
    flex: 1;
  }

  & > a {
    @extend .color-black;
    display: block;
    padding: $padding-4;

    &:hover {
      @extend .bg-accent-dark;
      @extend .color-accent-light;
    }
  }
}

.title-with-icons {
  display: flex;

  h1 {
    flex: 3;
  }
  .righticons {
    text-align: right;
    display: flex;

    a {
      @extend .color-primary-dark;

      &:hover {
        @extend .color-primary-light;
      }

      .icon {
        width: 1.1em;
      }

      .filled {
        fill: var(--color-primary-dark);
      }
    }

    .icon-locale {
      @extend .border-color-primary-dark;
      @extend .border-radius-1;
      @extend .padding-left-25;
      @extend .padding-right-25;
      font-family: var(--menu-text);

      &:hover {
        @extend .border-color-primary-light;
      }
    }

    .right-dropdown {
      position: relative;

      &:hover .messagesmenu,
      &:hover .localesmenu {
        visibility: visible;
        opacity: 1;
      }
    }

    .messagesmenu,
    .localesmenu {
      @extend .border-color-primary-dark;
      border-radius: $base-border-radius;
      @extend .padding-25;
      @extend .small;
      background-color: $color-primary-light;
      position: absolute;
      text-align: left;
      visibility: hidden;
      opacity: 0;

      &:hover {
        visibility: visible;
        opacity: 1;
      }

      a {
        @extend .color-primary-dark;
        display: block;
        padding: $padding-4;

        &:hover {
          @extend .bg-primary-dark;
          @extend .color-primary-light;
        }
      }

      span {
        display: block;
        padding: $padding-4;
        @extend .color-primary;
      }
    }

    .messagesmenu {
      top: 1.15em;
      right: -0.2em;
      min-width: 10em;
    }

    .localesmenu {
    }

    // .localesmenu {
    //   background-color: $color-accent;
    //   @extend .border-color-primary-dark;
    //   @extend .padding-25;
    //   background-color: $color-secondary;
    //   position: absolute;
    //   left: 0;
    //   min-width: 100%;
    // }
  }
}
