// Styles for the little "edit / delete" icons
.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .edit-icon {
    @extend .color-primary-dark;
    width: 1em;
    display: block;
    padding: 0;
    margin: 0 0.2em;
  }

  .delete-icon {
    @extend .color-accent-dark;
    width: 1em;
    display: block;
    padding: 0;
    margin: 0 0.2em;
  }
}
