// Styles that go with the BookCard ViewComponent
.itemcard-big {
  display: flex;
  @extend .border-color-black;
  border-radius: $base-border-radius;
  @extend .bg-secondary-light;
  @extend .color-black;
  margin: $margin-2;
  flex: 1;
  max-width: 48%;

  &:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  }

  &__cover {
    max-width: 40%;
    display: flex;

    img {
      flex: 1;
      overflow: hidden;
      display: block;
      object-fit: cover;
    }
  }

  &__content {
    margin: 0 $margin-2;
    padding: 0.2em 0.3em;
    width: 100%;
  }

  &__title {
    margin: $margin-2 0 0;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;

    h2 {
      flex: 1;
    }

    a {
      @extend .color-black;
    }
  }

  .bookyear,
  .gender {
    margin-left: auto;
    padding-left: $padding-2;
    font-size: 1.5rem;
  }

  .author,
  .livingyear,
  .books {
    font-size: 1.5rem;
  }

  .publisher {
  }

  p {
    line-height: 1.1;
  }

  &__footer {
    text-align: right;

    a {
      @extend .color-secondary-dark;
      @extend .color-hover-secondary;
    }
  }
}
