// Styles for the left hand menu

.menu {
  flex: 1;
  background-color: var(--color-accent-light);
  padding: $padding-2 $base-padding $padding-2 $base-padding * 2;
  font-family: var(--menu-text);

  &__main {
    list-style-type: none;
    margin-top: $base-margin * 2;

    & > li {
      border-bottom: 1px solid var(--color-accent-dark);

      & > a {
        @extend .color-black;
        display: block;
        padding: $padding-2;

        &:hover {
          @extend .bg-accent-dark;
          @extend .color-accent-light;
        }

        &.active {
          @extend .bg-accent-dark;
          @extend .color-accent-light;
        }
      }
    }

    & > li + li {
      margin-top: $padding-4;
    }
  }
}
