// Styles for the pagination

.pagination {
  display: flex;
  margin-top: $base-margin;
  font-size: 0.8em;

  .page {
    @extend .border-color-primary-dark;
    @extend .bg-secondary-light;
    min-width: 3.5em;
    text-align: center;

    &:first-child {
      border-radius: $base-border-radius 0 0 $base-border-radius;
    }

    &:last-child {
      border-radius: 0 $base-border-radius $base-border-radius 0;
    }

    &:only-child {
      border-radius: $base-border-radius;
    }

    & > a {
      @extend .color-black;
      padding: $padding-2;
      display: block;

      &:hover {
        @extend .color-secondary-light;
        @extend .bg-primary-dark;
      }
    }
  }

  & > .page + .page {
    border-left: none;
  }

  .active {
    display: block;
    padding: $padding-2;
    background-color: var(--color-primary);
    color: var(--color-secondary-light);
  }

  .gap {
    display: block;
    padding: $padding-2;
  }

  .disabled {
    display: block;
    padding: $padding-2;
    @extend .color-grey;
  }
}

.list-select-type {
  @extend .margin-left-50;

  a.list-select-item {
    display: block;
    padding: 0.2em;
  }
}
