.empty\:hidden:empty {
  display: none;
}
.peer:invalid ~ .peer-invalid\:hidden {
  display: none;
}

#quicksearch__list {
  @extend .margin-top-50;
  position: absolute;
  width: 20em;
}

.quicksearch {
  position: relative;

  &__result {
    @extend .medium-small;
    @extend .border-color-accent-dark;
    border-top-width: 0;

    &:first-child {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border-top-width: 1px;
      overflow: hidden;
    }

    &:last-child {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      overflow: hidden;
    }

    a {
      display: block;
      padding: $padding-4 $padding-2;
      @extend .color-accent-dark;
      @extend .color-hover-accent-light;
      @extend .bg-accent-light;
      @extend .bg-hover-accent-dark;
    }
  }
}
