// Entry point for your Sass build

// Rails core stuff
@import "actiontext.css";

// import the design system
@import "scss/main.scss";

// import application specific components
@import "local_components/genres.scss";
@import "local_components/icons.scss";
//@import "local_components/error-box.scss";
@import "local_components/bookdetails.scss";
@import "local_components/bookcard-big.scss";
@import "local_components/header.scss";
@import "local_components/menu.scss";
@import "local_components/pagination.scss";
@import "local_components/submenugrid.scss";

// JS Plugin specific
@import "dropzone/dist/dropzone.css";
@import "noty/src/noty.scss";
@import "noty/src/themes/relax.scss";
@import "sweetalert2/dist/sweetalert2.min.css";

// application specific

// 1. Layout

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
}

.sidebar {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  background-color: var(--color-primary-light);
  padding: 1.5em 1.5em;
  /* height: 100% of view height subtracted by
  - height of title: Padding top 1em, font size: 3rem;
  - height of quickmenu: font-size: 1.2rem, padding-bottom: 0.5em;
  - height of footer: padding-top and bottom 0.5em, font-size: 1rem;*/
  max-height: calc(98vh - 1em - 3rem - 1.2rem - 0.5em - 0.5em - 1rem - 0.5em);
  overflow-y: auto;
}

.footer {
  background-color: var(--color-primary);
  padding: 0.5em 1.5em;
}

// 2. Images

.cover-large {
  max-width: 20em;
  display: flex;
  border: 1px solid var(--color-black);
  border-radius: 5px;

  & img {
    flex: 1;
    overflow: hidden;
    display: block;
    object-fit: cover;
  }
}

// 3. Action Text
.trix-content ul {
  list-style-type: disc;
}

// 4. Various due to specific packages or gems
.back_link {
  @extend .form-cancel-button;
}
