// Entry point for your Sass build

// import the design system
@import "scss/main.scss";

// import application specific components
@import "local_components/bookcard-big.scss";

// application specific

// 1. Layout

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
}

.sidebar {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  background-color: var(--color-primary-light);
  padding: 1.5em 1.5em;
  /* height: 100% of view height subtracted by
  - height of title: Padding top 1em, font size: 3rem;
  - height of quickmenu: font-size: 1.2rem, padding-bottom: 0.5em;
  - height of footer: padding-top and bottom 0.5em, font-size: 1rem;*/
  max-height: calc(98vh - 1em - 3rem - 1.2rem - 0.5em - 0.5em - 1rem - 0.5em);
  overflow-y: auto;
}

.footer {
  background-color: var(--color-primary);
  padding: 0.5em 1.5em;
}

// 1.1 Details Page
.bookdetails {
  margin: 1em 0em;
  display: flex;

  &__text {
    margin: 0 1em;
    flex: 1;
  }

  &__small {
    font-size: 0.9rem;
  }

  &__genres {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0;
  }

  & .genre {
    background-color: var(--color-secondary-dark);
    margin-bottom: 0.25em;
    border-radius: 3px;
  }

  & .genre + .genre {
    margin-left: 0.25em;
  }

  & .genre a {
    color: var(--color-white);
    text-decoration: none;
    display: block;
    padding: 0.2em 0.3em;
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    width: 100%;
    border-radius: 5px;
  }

  &__meta div {
    flex: 1;
  }
}

// 2. Images

.cover-large {
  max-width: 20em;
  display: flex;
  border: 1px solid var(--color-black);
  border-radius: 5px;

  & img {
    flex: 1;
    overflow: hidden;
    display: block;
    object-fit: cover;
  }
}
